@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tauri", sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
.home{
    width: 100%;
    height: 100%;
    position: relative;
}
/* Styles for desktop */
.nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    width: 100%;
}
.nav i{
    display: none;
    font-weight: 800;
}
.logo h1{
    font-size: 2em;
}

.nav-items{
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.btns {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 0 10px;
    font-size: 1em;
}


/* Home Start */
.banner{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.home-container{
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    padding: 0 4%;
}
.home-text{
    padding: 4vw 4vw;
    width: 45%;
    height: 100%;
    justify-content: center;
}
.red-text {
    color: red;
    font-size: 1vw;
    text-transform: uppercase;
}
.main-text h1 {
    margin-top: 3px;
    font-size: 4.4vw;
    line-height: 5vw;
}
.normal-text {
    font-size: 1.2vw;
    color: #706f6f; /* Example color */
}
.getStarted{
    margin-top: 1vh;
}
.getStarted button{
    background-color: #F2994A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2vw;
    padding: 1vw 2vw;
    cursor: pointer;
    font-weight: 700;
}
.home-img{
    width: 45%;
    height: 100%;
}
.home-img img{
    height: 100%;
    width: 100%;
}
@media (max-width: 700px) {
    .nav{
        padding: 0 5vw;
        height: 60px;
    }
    .logo h1{
        font-size: 5vw;
    }
    .nav-items{
        display: none;
    }
    .nav i{
        display: block;
        font-size: 6vw;
    }
    .home-container{
        height: calc(100% - 60px);
        flex-direction: column;
        flex-wrap: wrap;
    }
    .home-text{
        width: 100%;
        height: 45%;
        padding: 4vw 6vw;
    }
    .main-text h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .normal-text, .red-text{
        font-size: 3vw;
        width: 90%;
        margin: 5vw 0 0 0;
    }
    .normal-text {
        margin: 5vw 0 6vw 0;
    }
    .getStarted button{
        padding: 3vw 6vw;
        font-size: 3.6vw;
        border-radius: 3px;
        font-weight: 600;
    }
    .home-img{
        width: 100%;
        height: 55%;
    }
}
  /*  category*/
  .category{
    margin-top: 10rem;
    /* padding: 5rem; */
    height: 80vh;
    width: auto;
  }
  
  .category h5,.category h1{
    text-align: center;
}
.category h5{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #555555;
}
.category h1{
    font-size: 3rem;
      margin-bottom: 4rem

  }
  .card-container{
      height: 16.5rem;
      display: flex;
      justify-content: space-evenly;
  }
  .card{
    height: 100%;
    width: 18%;
    /* background-color: #ffffff; */
    position: relative;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 1px 1px 10px #555555;
    transition: 0.3s ease all;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
}
  .card img{
    position: absolute;
    height: 45%;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 1rem; */
    width: auto;
  }
  .card .text-content{
    position: absolute;
    bottom:  5%;
    padding: 0 10px;
  }
  /* Category end*/
  /* Guidence */
  .guidence{
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
    align-items: center;
    height: 100vh;
  }

  .steps-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps{
    display: flex;
    margin-top: 4rem;
    align-items: center;
  }
  .steps img{
    margin-right: 20px;
  }
  .steps p{
    width: 60%;
  }
  .steps p{
    color: #706f6f;
  }
  .steps h3{
    color: #555555;
  }